/* Custom properties */
:root {
    --bg-color: #0d0d10; /* Deep charcoal / near black */
    --text-color: #f0f0f5;
    --accent-color: #5e35b1; /* Deep purple */
    --accent-glow: 0 0 20px rgba(94, 53, 177, 0.7);
    --secondary-glow: #00d2ff; /* Neon blue */
    
    --font-heading: 'Outfit', sans-serif;
    --font-body: 'Inter', sans-serif;
    
    --cursor-size: 20px;
}
